@import "bootstrap/less/bootstrap.less";

@coverPageColor: #EEEEEE;
@backgroundGrey: #EEEEEE;
@titleFonts: 'Oswald', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
@bodyFonts: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";

/*******************************
			MIXINS
*******************************/
.Cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.Animate(@name; @length; @iteration) {
	-webkit-animation: @name @length;
	animation: @name @length;
	-moz-animation: @name @length;

	-webkit-animation-iteration-count: @iteration;
	-animation-iteration-count: @iteration;
	-moz-animation-count: @iteration;
}
.Border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

body {
	margin: 0;
	top: 0;
}
#cover-page {
	height: 100vh;
	width: 100%;
	top: 0;
	overflow: hidden;
	z-index: -10;
	background: url("sf.png") no-repeat center center fixed;
	.Cover;
	background-attachment: fixed;
	color: #EEEEEE;
	text-align: center;

	h1 {
		font-family: @titleFonts;
		font-size: 80px;
		letter-spacing: 10px;
		padding-top: 75px;
		position: relative;
	}
	#scroll-div {
		font-size: 90px;
		.Animate(pulse; 5s; infinite);
		font-family: @bodyFonts;
		position: absolute;
		bottom: 50px;
		left: 50%;
		margin-left: -50px;
		height: 100px;
		width: 100px;
		text-align: center;
	}
}

@-webkit-keyframes pulse {
	0% {color: #EEEEEE;}
	50% {color: rgba(238, 238, 238, 0.5);}
	100% {color: #EEEEEE;}
}
@keyframes pulse {
	0% {color: #EEEEEE;}
	100% {color: #94DBFF;}
	100% {color: #EEEEEE;}
}
#scroll-button p {
	display: block;
	margin-top: 15px;
}
#navbar {
	width: 100%;
	z-index: 15;
	height: 50px;
	position: fixed;
	top: 0;
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: center;
		li {
			text-align: center;
			vertical-align: center;
			display: inline-block;
			font-weight: bold;
			a {
				display: inline-block;
				text-decoration: none;
				padding: 15px 40px;
				color: @coverPageColor;
				vertical-align: middle;
				font-family: @bodyFonts;
			}
			a:hover {
				color: black;
				background-color: rgba(0,0,0,0);
			}
			a.active {
				color: ##2ecc71;
			}
		}
	}
}
#content {
	top: 0;
	width: 100%;
	padding: 0 0 0 0;
	p {
		font-family: @bodyFonts;
		font-size: 22px;
	}
	h2 {
		text-align: center;
		font-weight: lighter;
		font-family: @bodyFonts;
		width: 100%;
		text-align: center;
		padding-bottom: 40px;
		font-size: 70px;
		margin: 0 0 0 0;
	}
	& > div {
		padding: 80px 0 80px 0;
		& > h2 {
			padding-bottom: 60px;
		}
	}
	#about {
		background-color: @backgroundGrey;
		color: #000;
		top: 0;
		width: 100%;
		height: 100%;
		h2 {
			/*color: #2ecc71;*/
		}
		p {
			margin-left: auto;
			margin-right: auto;
			max-width: 600px;
			padding: 0 10px 0 10px;
		}
	}
	#projects {
		/*background: url("italy.png") no-repeat center center fixed;
		background-attachment: fixed;
		.Cover;*/
		font-size: 18px;
		color: black;
		h2 {
			color: #22313F;
		}
		.row {
			display: block;
			margin: 40px auto 0 auto;
			background-color: rgba(255,255,255,0.5);
			border-radius: 3px;
			max-width: 1000px;
			& > div {
				padding: 20px 0 20px;
				p {
					margin-left: 20px;
				}
			}
			#logo {
				padding: 20px 20px 0 20px;
			}
		}
		#hal span {
			font-family: 'Exo', sans-serif;
			color: #3A539B;
			font-size: 80px;
			font-weight: bold;
			display: block;
			text-align: center;
		}
	}
	#contact {
		background-color: #22313F;
		color: @backgroundGrey;
		#resume {
			height: 100px;
			width: 200px;
			padding: 10px 10px 10px 10px;
			border-radius: 3px;
			display: block;
			margin: -130px auto 0 auto;
			background-color: #16A085;
			img {
				height: 100%;
				width: auto;
				margin-right: 30px;
				background-color: white;
			}
			span {
				text-align: center;
			}
		}
		.row {
			text-align: center;
			img {
				display: block;
				margin: 0 auto 0 auto;
			}
		}
	}
}

