/*******************************
			MIXINS
*******************************/
.Cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
html,
body {
  width: 100%;
  overflow-x: hidden;
  margin: 0;
}
#wrapper-body {
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  background: url("images/sf-min.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="images/sf-min.png", sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@file, sizingMethod='scale')";
  width: 100%;
}
#container-cp {
  display: block;
  padding: 0 10px;
}
#loadingPage {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #000;
  z-index: 100;
  vertical-align: middle;
  display: table-cell;
  /* Loading spinner - by Tim Holman: http://codepen.io/cayoub88/pen/DCemr */
}
#loadingPage .signal {
  z-index: 10;
  border: 3px solid #aaa;
  border-radius: 30px;
  height: 30px;
  left: 50%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  position: absolute;
  top: 50%;
  width: 30px;
  -webkit-animation: pulsate 1.2s ease-out;
  -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0.0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
#loadingPage h2 {
  text-align: center;
  font-weight: lighter;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  color: #aaa;
  line-height: 100vh;
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 90;
  height: 40px;
  line-height: 40px;
}
nav #topPageLink {
  display: none;
  margin-left: 10px;
  float: left;
}
nav ul {
  list-style-type: none;
}
nav a {
  text-decoration: none;
  color: #3F4995;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
}
nav a:hover {
  text-decoration: none;
  color: #05A5FB;
}
nav #navDesktop {
  display: inline-block;
  padding-right: 10px;
  float: right;
}
nav #navDesktop li {
  float: left;
  padding-left: 30px;
  display: inline-block;
}
nav #navicon {
  display: none;
  padding-left: 10px;
}
nav #navicon li:hover img {
  content: url("attachments/navicon-active.svg");
}
#canvas_fog {
  position: fixed;
  bottom: 0;
  z-index: 1;
  overflow: hidden;
}
#cover-page {
  height: 100vh;
  bottom: 0;
  margin-bottom: 50%;
  z-index: 2;
  color: #EEEEEE;
  text-align: center;
  transition: all 5s ease-in;
}
#cover-page h1 {
  display: none;
  font-family: 'Oswald', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  font-weight: bold;
  font-size: 80px;
  letter-spacing: 5px;
  position: fixed;
  text-align: center;
  color: #FFD194;
  margin-top: 16%;
  padding-right: 10px;
  width: 100%;
}
#cover-page #scrollDiv {
  display: none;
  z-index: 3;
  text-align: center;
  position: fixed;
  color: #B5DBEF;
  width: 150px;
  bottom: 5%;
  opacity: 0.7;
  -webkit-animation: pulse 8s;
  animation: pulse 8s;
  -moz-animation: pulse 8s;
  -webkit-animation-iteration-count: infinite;
  -animation-iteration-count: infinite;
  -moz-animation-count: infinite;
  left: 50%;
  margin-left: -75px;
}
#cover-page #scrollDiv h2 {
  font-size: 50px;
  font-family: 'Bubblegum Sans', cursive;
  letter-spacing: 2px;
}
#cover-page #scrollDiv span {
  display: block;
  font-size: 30px;
}
#cover-page #scrollDiv:hover {
  cursor: pointer;
}
#cover-page #scrollDiv:hover h2,
#cover-page #scrollDiv:hover span {
  color: #3f4995;
}
#cover-page #about {
  display: none;
  position: fixed;
  z-index: 3;
  color: #000;
  top: 60px;
  width: 100%;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  color: #eee;
}
#cover-page #about p {
  max-width: 600px;
  margin: 20px auto;
  font-size: 22px;
  padding-right: 10px;
}
@-webkit-keyframes pulse {
  0% {
    color: #B5DBEF;
  }
  50% {
    color: #05A5FB;
  }
  100% {
    color: #B5DBEF;
  }
}
@keyframes pulse {
  0% {
    color: #B5DBEF;
  }
  50% {
    color: #05A5FB;
  }
  100% {
    color: #B5DBEF;
  }
}
.contentWrap {
  max-width: 800px;
  margin: 0 auto;
}
.contentWrap > div:not(.project-sectionHeader) {
  display: block;
  margin-bottom: 60px;
}
.contentWrap div {
  margin: 0 10px;
}
#content {
  position: absolute;
  width: 100%;
  padding: 0 0 0 0;
  z-index: 20;
  background-color: rgba(238, 238, 238, 0);
}
#content p {
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  font-weight: lighter;
  font-size: 18px;
  z-index: 20;
}
#content p a {
  text-decoration: underline;
  color: #3f4995;
}
#content p a:hover {
  color: #05a5fb;
}
#content h2 {
  text-align: center;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  width: 100%;
  font-size: 60px;
  margin: 0 0 0 0;
}
#content > div {
  padding: 80px 0 80px 0;
}
#content #projects {
  background-color: #eee;
  font-size: 18px;
  color: black;
  opacity: 0;
}
#content #projects .project-sectionHeader {
  border-bottom: 1px solid #ccc;
  color: #888;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  padding-bottom: 3px;
  margin-top: 80px;
  margin-bottom: 30px;
  text-align: center;
}
#content #projects .project-links {
  width: 100%;
  height: 50px;
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  font-weight: bold;
  list-style-type: none;
  padding: 0;
  text-align: center;
}
#content #projects .project-links li {
  display: inline-block;
  margin: 0 10px;
}
#content #projects .project-links a {
  margin: 0 auto;
  line-height: 50px;
  width: 200px;
  border: 1px solid #3f4995;
  color: #3f4995;
  display: block;
}
#content #projects .project-links a:hover {
  color: #fff;
  background-color: #3f4995;
  text-decoration: none;
}
#content #projects h2 {
  color: #22313F;
}
#content #projects .logo {
  max-width: 300px;
  padding-bottom: 20px;
  margin: 0 auto;
}
#content #projects #halDiv span {
  font-family: 'Exo', sans-serif;
  color: #3A539B;
  font-size: 80px;
  font-weight: bold;
  display: block;
  text-align: center;
}
#content #projects .project-misc h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
}
#content #projects #fogComingSoon {
  text-align: center;
  font-size: 14px;
  font-style: italic;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  font-weight: lighter;
  color: #444;
  margin-top: 20px;
}
#content #contact {
  background-color: #2a2a2a;
  color: #eeeeee;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
}
#content #contact #contactWrap {
  text-align: center;
}
#content #contact #contactHeader {
  font-weight: lighter;
  font-size: 40px;
  margin-bottom: 20px;
}
#content #contact #email {
  display: inline-block;
  color: #05a5fb;
  font-size: 18px;
  margin-bottom: 80px;
}
#content #contact #email:hover {
  text-decoration: underline;
  color: #47BFFF;
}
#content #contact #email:hover {
  text-decoration: none;
}
#content #contact #resumeBtn {
  display: block;
  height: 70px;
  width: 67%;
  min-width: 200px;
  line-height: 70px;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  border: 1px solid #05a5fb;
  color: #05a5fb;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto;
}
#content #contact #resumeBtn:hover {
  color: #2a2a2a;
  background-color: #05a5fb;
  text-decoration: none;
}
#content #contact #socialLinks {
  display: block;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 0;
}
#content #contact #socialLinks > div {
  display: inline-block;
}
#content #contact #socialLinks img {
  display: inline-block;
  height: 100px;
  margin: 0 auto;
}
@media only all and (max-width: 640px) and (max-height: 426px) {
  #wrapper-body {
    background: url("images/sf-min.jpg");
    background-size: 640px 426px;
    -moz-background-size: 640px 426px;
    -webkit-background-size: 640px 426px;
  }
}
/* iOS support */
@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
  nav {
    height: 60px;
    line-height: 60px;
  }
  #wrapper-body {
    background: transparent;
    background-color: #05A5FB;
  }
  #cover-page #about {
    width: 100%;
  }
  #cover-page #about p {
    width: 100%;
    font-size: 16px;
    margin: 10px auto 0 auto;
    padding: 0 10px;
    text-align: left;
  }
}
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
  nav {
    height: 60px;
    line-height: 60px;
  }
  #wrapper-body {
    background: transparent;
    background-color: #05A5FB;
  }
  #cover-page #about {
    width: 100%;
  }
  #cover-page #about p {
    max-width: 100%;
    font-size: 16px;
    margin: 0;
    padding: 0 10px;
    text-align: left;
  }
}
@media only screen and (max-width: 562px) {
  nav {
    height: auto;
    background-color: #3F4995;
  }
  nav #topPageLink {
    display: none;
  }
  nav #navDesktop {
    display: none;
    padding: 0;
    float: left;
    width: 100%;
  }
  nav #navDesktop li {
    display: block;
    width: 100%;
    padding: 5px 0 5px 10px;
  }
  nav #navDesktop li a {
    color: #fff;
    display: block;
  }
  nav #navDesktop li:hover {
    background-color: #05A5FB;
  }
  nav #navDesktop li:hover a {
    color: #fff;
  }
  nav #navicon {
    display: block;
    margin: 0;
    margin-bottom: 2px;
  }
  nav #navicon li {
    display: block;
  }
  nav #navicon li a {
    display: block;
  }
}
