@coverPageColor: #EEEEEE;
@backgroundGrey: #EEEEEE;
@titleFonts: 'Oswald', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
@bodyFonts: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
@linkColor: #3F4995;
@linkHoverColor: #05A5FB;


/*******************************
			MIXINS
*******************************/
.Cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.CoverIE(@file) {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@file, sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@file, sizingMethod='scale')";
}

.Animate(@name; @length; @iteration) {
	-webkit-animation: @name @length;
	animation: @name @length;
	-moz-animation: @name @length;

	-webkit-animation-iteration-count: @iteration;
	-animation-iteration-count: @iteration;
	-moz-animation-count: @iteration;
}
.Border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

html, body {
	width: 100%;
	overflow-x: hidden;
	margin: 0;
}

#wrapper-body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
	background: url("images/sf-min.jpg") no-repeat center center fixed;
	.Cover;
	.CoverIE("images/sf-min.png");
	width: 100%;
}

.container {
	display: block;
	width: 100%;
}

#loadingPage {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #000;
	z-index: 100;
	vertical-align: middle;
	display: table-cell;

	/* Loading spinner - by Tim Holman: http://codepen.io/cayoub88/pen/DCemr */
	.signal {
		z-index: 10;
	    border:3px solid #aaa;
	    border-radius:30px;
	    height:30px;
	    left:50%;
	    margin:-15px 0 0 -15px;
	    opacity:0;
	    position:absolute;
	    top:50%;
	    width:30px;
	 
	    -webkit-animation: pulsate 1.2s ease-out;
	    -webkit-animation-iteration-count:infinite;
	}

	@-webkit-keyframes pulsate {
	    0% {
	      transform:scale(.1);
	      opacity: 0.0;
	    }
	    50% {
	      opacity:1;
	    }
	    100% {
	      transform:scale(1.2);
	      opacity:0;
	    }
	}

	h2 {
		text-align: center;
		font-weight: lighter;
		font-family: @bodyFonts;
		color: #aaa;
		line-height: 100vh;
	}
}

nav {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 90;
	height: 40px;
	line-height: 40px;

	#topPageLink {
		display: none;
		margin-left: 10px;
		float: left;
	}

	ul {
		list-style-type: none;
	}

	a {
		text-decoration: none;
		color: #3F4995;
		font-size: 16px;
		font-family: @bodyFonts;
	}

	a:hover {
		text-decoration: none;
		color: #05A5FB;
	}

	#navDesktop {
		display: inline-block;
		padding-right: 10px;
		float: right;

		li {
			float: left;
			padding-left: 30px;
			display: inline-block;
		}
	}

	#navicon {
		display: none;
		padding-left: 10px;

		li:hover img  {
			content: url("attachments/navicon-active.svg");
		}			
	}
}

#canvas_fog {
	position: fixed;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
}

#cover-page {
	height: 100vh;
	width: 100%;
	bottom: 0;
	margin-bottom: 50%;
	z-index: 2;
	color: #EEEEEE;
	text-align: center;
	transition: all 5s ease-in;

	h1 {
		display: none;
		font-family: @titleFonts;
		font-weight: bold;
		font-size: 80px;
		letter-spacing: 5px;
		position: fixed;
		width: 100%;
		text-align: center;
		color: #FFD194;
		margin-top: 16%;
	}

	#scrollDiv {
		display: none;
		z-index: 3;
		text-align: center;
		position: fixed;
		color: #B5DBEF;
		width: 150px;
		bottom: 5%;
		opacity: 0.7;
		.Animate(pulse; 8s; infinite);
		left: 50%;
		margin-left: -75px;
		
		h2 {
			font-size: 50px;
			font-family: 'Bubblegum Sans', cursive;
			letter-spacing: 2px;
		}

		span {
			display: block;
			font-size: 30px;
		}
	}

	#scrollDiv:hover {
		cursor: pointer;

		h2, span {
			color: @linkColor;
		}
	}

	#about {
		display: none;
		position: fixed;
		z-index: 3;
		color: #000;
		top: 60px;
		width: 100%;
		font-family: @bodyFonts;
		color: #eee;

		h2 {
			text-align: center;
			font-weight: lighter;
			width: 100%;
			padding-bottom: 40px;
			font-size: 70px;
			margin: 0 0 0 0;
		}

		p {
			margin-left: auto;
			margin-right: auto;
			max-width: 600px;
			padding: 0 10px 0 10px;
			font-size: 22px;
		}
	}
}

@-webkit-keyframes pulse {
	0% {color: #B5DBEF;}
	50% {color: #05A5FB;}
	100% {color: #B5DBEF;}
}

@keyframes pulse {
	0% {color: #B5DBEF;}
	50% {color: #05A5FB;}
	100% {color: #B5DBEF;}
}

.contentWrap {
	max-width: 800px;
	margin: 0 auto;

	> div:not(.project-sectionHeader) {
		display: block;
		margin-bottom: 60px;
	}

	div {
		margin: 0 10px;
	}
}

#content {
	position: absolute;
	width: 100%;
	padding: 0 0 0 0;
	z-index: 20;
	background-color: rgba(238, 238, 238, 0);

	p {
		font-family: @bodyFonts;
		font-weight: lighter;
		font-size: 18px;
		z-index: 20;

		a {
			text-decoration: underline;
			color: @linkColor;
		}

		a:hover {
			color: @linkHoverColor;
		}
	}

	h2 {
		text-align: center;
		font-weight: bold;
		font-family: @bodyFonts;
		width: 100%;
		font-size: 60px;
		margin: 0 0 0 0;
	}

	& > div {
		padding: 80px 0 80px 0;
	}

	#projects {
		background-color: #eee;
		font-size: 18px;
		color: black;
		opacity: 0;

		.project-sectionHeader {
			border-bottom: 1px solid #ccc;
			color: #888;
			font-family: @bodyFonts;
			padding-bottom: 3px;
			margin-top: 80px;
			margin-bottom: 30px;
			text-align: center;
		}

		.project-links {
			width: 100%;
			height: 50px;
			margin-top: 30px;
			font-family: @bodyFonts;
			font-weight: bold;
			list-style-type: none;
			padding: 0;
			text-align: center;

			li {
				display: inline-block;
				margin: 0 10px;
			}

			a {
				margin: 0 auto;
				line-height: 50px;
				width: 200px;
				border: 1px solid @linkColor;
				color: @linkColor;
				display: block;
			}

			a:hover {
				color: #fff;
				background-color: @linkColor;
				text-decoration: none;
			}
		}

		h2 {
			color: #22313F;
		}

		.logo {
			max-width: 300px;
			padding-bottom: 20px;
			margin: 0 auto;
		}

		#halDiv span {
			font-family: 'Exo', sans-serif;
			color: #3A539B;
			font-size: 80px;
			font-weight: bold;
			display: block;
			text-align: center;
		}

		.project-misc h3 {
			text-align: center;
			font-family: @bodyFonts;
		}

		#fogComingSoon {
			text-align: center;
			font-size: 14px;
			font-style: italic;
			font-family: @bodyFonts;
			font-weight: lighter;
			color: #444;
			margin-top: 20px;
		}
	}
	#contact {
		background-color: #2a2a2a;
		color: @backgroundGrey;
		font-family: @bodyFonts;

		#contactWrap {
			text-align: center;
		}

		#contactHeader {
			font-weight: lighter;
			font-size: 40px;
			margin-bottom: 20px;
		}

		#email {
			display: inline-block;
			color: @linkHoverColor;
			font-size: 18px;
			margin-bottom: 80px;
		}

		#email:hover {
			text-decoration: underline;
			color: #47BFFF;
		}

		#email:hover {
			text-decoration: none;
		}

		#resumeBtn {
			display: block;
			height: 70px;
			width: 67%;
			min-width: 200px;
			line-height: 70px;
			font-family: @bodyFonts;
			border: 1px solid @linkHoverColor; 
			color: @linkHoverColor;
			text-align: center;
			font-weight: bold;
			font-size: 18px;
			margin: 0 auto;
		}

		#resumeBtn:hover {
			color: #2a2a2a;
			background-color: @linkHoverColor;
			text-decoration: none;
		}

		#socialLinks {
			display: block;
			text-align: center;
			margin-top: 40px;
			margin-bottom: 0;

			> div {
				display: inline-block;
			}

			img {
				display: inline-block;
				height: 100px;
				margin: 0 auto;
			}
		}
	}
}

@media only all and (max-width: 640px) and (max-height: 426px) {
	#wrapper-body {
		background-size: 640px 426px;
		-moz-background-size: 640px 426px;
		-webkit-background-size: 640px 426px;
	}
}

/* iOS support */
@media only screen and (orientation: portrait) and (device-width: 320px), (device-width: 768px) {
	#wrapper-body {
		-webkit-background-size: auto 100%;
		background-attachment: scroll;
	}
}
 
@media only screen and (orientation: landscape) and (device-width: 320px), (device-width: 768px) {
	#wrapper-body {
		-webkit-background-size: 100% auto;
		background-attachment: scroll;
	}
}

@media only screen and (max-width: 562px) {
	nav {
		height: auto;
		background-color: #3F4995;

		#topPageLink {
			display: none;
		}

		#navDesktop {
			display: none;
			padding: 0;
			float: left;
			width: 100%;

			li {
				display: block;
				width: 100%;
				padding: 5px 0 5px 10px;

				a {
					color: #fff;
					display: block;
				}
			}

			li:hover {
				background-color: #05A5FB;

				a {
					color: #fff;
				}
			}
		}

		#navicon {
			display: block;
			margin: 0;
			margin-bottom: 2px;

			li {
				display: block;

				a {
					display: block;
				}
			}
		}
	}
}

