@coverPageColor: #EEEEEE;
@backgroundGrey: #EEEEEE;
@titleFonts: 'Oswald', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
@bodyFonts: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";

/*******************************
			MIXINS
*******************************/
.Cover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.CoverIE(@file) {
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@file, sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=@file, sizingMethod='scale')";
}

.Animate(@name; @length; @iteration) {
	-webkit-animation: @name @length;
	animation: @name @length;
	-moz-animation: @name @length;

	-webkit-animation-iteration-count: @iteration;
	-animation-iteration-count: @iteration;
	-moz-animation-count: @iteration;
}
.Border-radius(@radius) {
	-webkit-border-radius: @radius;
	-moz-border-radius: @radius;
	border-radius: @radius;
}

#wrapper-body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

html, body {
	width: 100%;
	overflow: hidden;
}

#loadingPage {
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #000;
	z-index: 100;
	vertical-align: middle;
	display: table-cell;

	/* Loading spinner - by Tim Holman: http://codepen.io/cayoub88/pen/DCemr */
	.signal {
		z-index: 10;
	    border:3px solid #aaa;
	    border-radius:30px;
	    height:30px;
	    left:50%;
	    margin:-15px 0 0 -15px;
	    opacity:0;
	    position:absolute;
	    top:50%;
	    width:30px;
	 
	    -webkit-animation: pulsate 1.2s ease-out;
	    -webkit-animation-iteration-count:infinite;
	}

	@-webkit-keyframes pulsate {
	    0% {
	      transform:scale(.1);
	      opacity: 0.0;
	    }
	    50% {
	      opacity:1;
	    }
	    100% {
	      transform:scale(1.2);
	      opacity:0;
	    }
	}

	h2 {
		text-align: center;
		font-weight: lighter;
		font-family: @bodyFonts;
		color: #aaa;
		line-height: 100vh;
	}
}

#canvas_fog {
	position: fixed;
	bottom: 0;
	z-index: 1;
	background: rgba(0, 0, 0, 0.0);
}

#cover-page {
	height: 100%;
	width: 100%;
	bottom: 0;
	z-index: 2;
	background: url("sf-min.jpg") no-repeat center center fixed;
	.Cover;
	.CoverIE("sf.png");
	background-attachment: fixed;
	color: #EEEEEE;
	text-align: center;
	transition: all 5s ease-in;

	h1 {
		display: none;
		font-family: @titleFonts;
		font-size: 80px;
		letter-spacing: 10px;
		position: fixed;
		width: 100%;
		text-align: center;
		color: #eee;
		margin-top: 8%;
	}

	#scrollDiv {
		display: none;
		z-index: 3;
		text-align: center;
		position: fixed;
		color: #B5DBEF;
		width: 100%;
		top: 40%;
		left: 0;
		opacity: 0.7;
		.Animate(pulse; 8s; infinite);
		
		h2 {
			font-size: 50px;
			font-family: 'Bubblegum Sans', cursive;
			letter-psacing: 2px;
		}

		span {
			display: block;
			font-size: 30px;
		}
	}

	#about {
		margin-top: 100%;
		margin-bottom: 40%;
		color: #000;
		top: 0;
		width: 100%;
		height: 100%;
		font-family: @bodyFonts;
		color: #eee;

		h2 {
			text-align: center;
			font-weight: lighter;
			width: 100%;
			padding-bottom: 40px;
			font-size: 70px;
			margin: 0 0 0 0;
		}

		p {
			margin-left: auto;
			margin-right: auto;
			max-width: 600px;
			padding: 0 10px 0 10px;
			font-size: 22px;
		}
	}
}

@-webkit-keyframes pulse {
	0% {color: #B5DBEF;}
	50% {color: #05A5FB;}
	100% {color: #B5DBEF;}
}

@keyframes pulse {
	0% {color: #B5DBEF;}
	50% {color: #05A5FB;}
	100% {color: #B5DBEF;}
}

#content {
	top: 0;
	width: 100%;
	padding: 0 0 0 0;
	z-index: 20;
	position: relative;
	background-color: rgba(238, 238, 238, 0);
	p {
		font-family: @bodyFonts;
		font-size: 22px;
		z-index: 20;
	}
	h2 {
		text-align: center;
		font-weight: lighter;
		font-family: @bodyFonts;
		width: 100%;
		padding-bottom: 40px;
		font-size: 70px;
		margin: 0 0 0 0;
	}
	& > div {
		padding: 80px 0 80px 0;
		& > h2 {
			padding-bottom: 60px;
		}
	}

	#projects {
		background-color: #eee;
		font-size: 18px;
		color: black;
		h2 {
			color: #22313F;
		}
		.row {
			display: block;
			margin: 40px auto 0 auto;
			border-radius: 3px;
			max-width: 1000px;
			& > div {
				padding: 20px 0 20px;
				p {
					margin-left: 20px;
				}
			}
			#logo {
				padding: 20px 20px 0 20px;
			}
		}
		#hal span {
			font-family: 'Exo', sans-serif;
			color: #3A539B;
			font-size: 80px;
			font-weight: bold;
			display: block;
			text-align: center;
		}
		#resume {
			height: 150px;
			width: 150px;
/*			padding: 10px 10px 10px 10px;
*/			display: block;
			margin: 20px auto 0 auto;
			background-color: #16A085;
			.Border-radius(1000px);
/*			img {
				height: 100%;
				width: auto;
				margin-right: 30px;
				background-color: white;
			}*/
			/*span {
				text-align: center;
			}*/
			p {
				vertical-align: middle;
				line-height: 150px;
			}
		}
	}
	#contact {
		background-color: #22313F;
		color: @backgroundGrey;
		.row {
			text-align: center;
			img {
				display: block;
				margin: 0 auto 0 auto;
			}
		}
	}
}

