/*******************************
			MIXINS
*******************************/
.Cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  margin: 0;
  top: 0;
}
#cover-page {
  height: 100vh;
  width: 100%;
  top: 0;
  overflow: hidden;
  z-index: -10;
  display: table;
  position: relative;
  background: url("sf.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background-size: 110& auto;
  background-position: center center;
  color: #EEEEEE;
  text-align: center;
}
#cover-page h1 {
  font-family: 'Oswald', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  font-size: 80px;
  letter-spacing: 10px;
  font-weight: lighter;
  padding-top: 75px;
  position: relative;
}
#cover-page #scroll-div {
  font-size: 90px;
  -webkit-animation: pulse 5s;
  animation: pulse 5s;
  -moz-animation: pulse 5s;
  -webkit-animation-iteration-count: infinite;
  -animation-iteration-count: infinite;
  -moz-animation-count: infinite;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -50px;
  height: 100px;
  width: 100px;
  text-align: center;
}
@-webkit-keyframes pulse {
  0% {
    color: #EEEEEE;
  }
  50% {
    color: rgba(238, 238, 238, 0.5);
  }
  100% {
    color: #EEEEEE;
  }
}
@keyframes pulse {
  0% {
    color: #EEEEEE;
  }
  100% {
    color: #94DBFF;
  }
  100% {
    color: #EEEEEE;
  }
}
/*#scroll-button {
	position: absolute;
	bottom: 0px;
	font-family: @bodyFonts;
	left: 50%;
	margin: 0 -60px 30px;
	padding-top: 10px;
	border: none;
	background-color: rgba(238, 238, 238, 0.80);
	color: white;
	height: 120px;
	width: 120px;
	font-size: 30px;
	text-align: center;
	.Border-radius(60px);
}*/
/*#scroll-link {
	z-index: 5000;
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	background-color: #FFF;
	opacity: 0;
	filter: alpha(opacity=1);
}*/
#scroll-button p {
  display: block;
  margin-top: 15px;
}
#navbar {
  width: 100%;
  z-index: 15;
  height: 50px;
  position: fixed;
  top: 0;
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
#navbar ul li {
  text-align: center;
  vertical-align: center;
  display: inline-block;
}
#navbar ul a {
  display: inline-block;
  text-decoration: none;
  padding: 15px 40px;
  color: #eeeeee;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
}
#navbar ul a:hover {
  color: #000;
  background-color: rgba(0, 0, 0, 0);
}
#navbar ul a.active {
  color: ##2ecc71;
}
#content div p {
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
}
#content h2 {
  font-family: 'Open Sans', sans-serif, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
  width: 100%;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 70px;
}
